body {
    margin: 0;
    padding: 0;
    background: #fff;

  }

.card {
  padding: 10px;
}

.grid {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  grid-auto-rows: 2OOpx;

}

.progressbar { 
  width: 5rem;
  margin-top: 2rem;
  margin-left: 1rem;
} 


.container {

    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.hometitle {
  padding: 10px;
  border-style: solid;
  border-color: #3CBC8D;

}

.buttonvldt {
    background-color: #3CBC8D; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }
.buttonvldt:hover {
    background-color: #fff; /* Green */
    color: black;
    border-color: #3CBC8D;
    border-style: solid;

  }
  
.infos {
  margin-top: 2rem;
  margin-left: 1rem;  
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=text]:focus {
    border: px solid #fff;
  }
  

.box {
    padding: 10px;
}

.ranking {
  padding-top: 5rem;
}

.titleranking {
  font-weight: bold;
}

input[type="radio"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}
